{{#each transactions}}
<div>
    <input type=text value="{{date}}">
    <input type=text value="{{description}}">
    <div>
        <input type=text value="{{account_one}}">
        <input type=text value="{{amount_one}}">
        <input type=text value="{{currency_one}}">
    </div>
    <div>
        <input type=text value="{{account_two}}">
        <input type=text value="{{amount_two}}">
        <input type=text value="{{currency_two}}">
    </div>
</div>
{{/each}}